.containerImgTxt{
    display: flex;
 /*   align-items: center;
    justify-content: center;  */
  }
  img{
    width: 50%;
    height: 100%;
  }
  p{
    font-size: 30px;
    margin-left: 5%;
    align-self: center;
  }
