* {
  background-color: white;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 2em;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  h1 {
    display: inline-block; 
    width: 30%;
  }
  
  .navbar {
    display: block;
    width: 75%;
    text-align: right;
  }

  .navbar li{
    display: inline;
    margin-left: 3%;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .navbar li:hover{
    border-style:solid;
    border-radius: 5px;
    margin: 3px;
    font-size: larger;
  }


